<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
    </head>
    <body>
        <h1>Pig Latinized!</h1>
        <p>New phrase: <%= @output%> </p>
    </body>
</html>
