<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    Enter your phrase:
  <form action="/piglatinize" method="POST">
    <p><input type="text" name="user_phrase"></p>
    <p><input type="submit" value="Submit" id="Submit"></p>
  </form>
  </body>
</html>